<form action="/users/register" method="post">
    <input type="text" name="email" placeholder="Email" required>
    <input type="text" name="password_hash" placeholder="Password" required>
    <input type="submit" value="Log In"></input>
</form>
<script type="text/javascript" src="/javascripts/info.js"></script>